# Telegram Bot Token (@BotFather dan olinadi)
BOT_TOKEN=8902855419:AAEJCGUhMpyTC-i0_M7KyKCQRX00N2p2N34

# Multfilm kanali ID (@ bilan yoki -100 bilan boshlanadigan ID)
CHANNEL_ID=@mutfilmUZcode

# Admin Telegram ID(lari) — vergul bilan ajrating
ADMIN_IDS=8787603995

# PostgreSQL ulanish manzili (Railway avtomatik beradi)
DATABASE_URL=postgresql://user:password@host:5432/dbname

# Bot username (@ belgisisiz)
BOT_USERNAME=MagicMultBot
